lemkin-pdf/
lemkin-json-from-html/
pdf_images/
znaki/
zdekodowane/
__pycache__/
.DS_Store
*.out
.venv/
.vscode/
*.gz
Output/
*.xlsx
test.py
*.png
*.jpg
*.pdf
*.json
*.txt
locks/
models--Qwen--Qwen2-VL-7B-Instruct/